<div class="container">
  <div class="mt-3 p-1 bg-primary text-white rounded">

      <button style="float: right; border:1px solid #0b5ed7;margin-top:6px;margin-right:6px;" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">{{ title }}</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/logout">LogOut</a></li>
      </ul>
 <span style="margin: 0px !important; pading:0px !important; font-size:30px; font-weight:bolder" class="cmpname"> &nbsp;<img class="img-fluid" src="images/logo.png" style="margin-top: -6px;"> Brototype</span><hr class="myHr"> 

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: black;" href="#">our menus</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        {{#each menuItems}}
        <li class="nav-item "><a class="nav-link" href="#">{{this}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</nav> 
  </div>
    </div>
</div>

<div class="container mt-3">
  <div class="row">

{{#each courseCards}}


    <div class="col-sm-4 p-3 text-white">
        <div class="card" style="width:100%; background-color:#f3f3fa; border-top-left-radius: 5px; border-top-right-radius: 5px; z-index:-1; box-shadow:  -2px -2px 20px -2px rgb(188, 194, 194);">
    <iframe style="border-bottom: 1px solid rgb(141, 141, 143);border-top-left-radius: 5px; border-top-right-radius: 5px;" width="100%" src="{{this.src}}" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    <div class="card-body">
      <h4 class="card-title" style="color:rgb(0, 0, 48); border-bottom:1px solid rgb(209, 209, 212); padding-bottom:20px;margin-bottom:24px;">.~ {{this.tittle}}</h4>
      <p class="card-text" style="color:rgb(59, 59, 59)">{{this.discription}}</p>
      <a href="#" class="btn btn-primary" style="float: right; background-color:transparent; z-index:100;   border:1px solid rgb(4, 81, 223); color:rgb(0, 0, 0)">more...</a>
    </div>
    <footer style="margin-top: auto; background-color:#0089fa; z-index:10;  font-size:12px;padding:4px; box-shadow:  -20px -40px 100px 1px rgb(4, 81, 223); color:rgb(217, 211, 250);">&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:rgb(148, 194, 253)">by nikhil kilivayil</span></footer>
  </div>
    </div>
{{/each}}
  </div>

  <div class="table-responsive-sm">          
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>City</th>
        <th>Country</th>
        <th>Sex</th>
        <th>Example</th>
        <th>Example</th>
        <th>Example</th>
        <th>Example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>
        <td>Female</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
          <tr>
        <td>1</td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>
        <td>Female</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>


  </div>








<script>
const navLinks = document.querySelectorAll('.nav-item')
const menuToggle = document.getElementById('collapsibleNavbar')
const bsCollapse = new bootstrap.Collapse(menuToggle, {toggle:false})
navLinks.forEach((l) => {
    l.addEventListener('click', () => { bsCollapse.toggle() })
})
</script>